#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
  outline: none;
}

ul li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

header {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
}

.header__logo img {
  width: 144px;
}

/*.form-login {
  width: 379px;
  height: 334px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.form-login-container {
  width: 313px;
  height: 270px;
}

.form-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-label {
  display: block;
  font-size: 12px;
  color: #000000;
  margin-bottom: 12px;
  font-weight: 400;
}

.form-input {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  transition: all 0.3s ease;
  background-color: #fff;
  gap: 12px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #999999;
}

.form-input.filled {
  color: #000;
  border-color: #888;
}

.btn-login {
  background-color: #7334ea;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
}

.form-link {
  text-align: center;
  color: #999999;
  font-weight: 400;
  font-size: 12px;
  font-family: inherit;
}
  
.auth-link {
  color: #94a6be;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  font-family: inherit;

  &:hover {
  text-decoration: underline;
  } 
}*/

/*.form-register {
  width: 379px;
  height: 385px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.form-register-container {
  width: 313px;
  height: 270px;
}
  
.btn-register {
  background-color: #7334ea;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
}*/
